@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: rgb(24,22,35);
    background: linear-gradient(120deg, rgba(24,22,35,1) 0%, rgba(25,23,37,1) 35%, rgba(13,11,20,1) 100%);
}
html{
    color: white;
    /*font-family: "Montserrat", sans-serif;*/
}